# Reporte de Análisis V

## Tratamiento de Datos Faltantes

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')

In [3]:
datos.head(10)

                 Tipo     Distrito  Cuartos  ...    Valor  Mantenimiento  Impuesto
0          Habitación    San Borja        1  ...   1700.0          500.0      60.0
1                Casa   Lurigancho        2  ...   7000.0            NaN       NaN
2        Departamento   Pachacámac        1  ...    800.0          390.0      20.0
3        Departamento          Ate        1  ...    800.0          230.0       NaN
4        Departamento     Barranco        3  ...   1200.0            NaN       NaN
5        Departamento        Comas        2  ...   1300.0          301.0      17.0
6  Casa en condominio          Ate        5  ...  22000.0            NaN       NaN
7  Casa en condominio  El Agustino        2  ...   1000.0            NaN       NaN
8        Departamento   Pachacámac        1  ...   1200.0            NaN       NaN
9        Departamento      Mi Perú        2  ...   1500.0          642.0      74.0

[10 rows x 9 columns]

In [4]:
datos.isnull()

        Tipo  Distrito  Cuartos  ...  Valor  Mantenimiento  Impuesto
0      False     False    False  ...  False          False     False
1      False     False    False  ...  False           True      True
2      False     False    False  ...  False          False     False
3      False     False    False  ...  False          False      True
4      False     False    False  ...  False           True      True
...      ...       ...      ...  ...    ...            ...       ...
22575  False     False    False  ...  False          False     False
22576  False     False    False  ...  False          False     False
22577  False     False    False  ...  False          False     False
22578  False     False    False  ...  False          False     False
22579  False     False    False  ...  False          False      True

[22580 rows x 9 columns]

In [5]:
datos.notnull()

       Tipo  Distrito  Cuartos  Vacantes  ...  Area  Valor  Mantenimiento  Impuesto
0      True      True     True      True  ...  True   True           True      True
1      True      True     True      True  ...  True   True          False     False
2      True      True     True      True  ...  True   True           True      True
3      True      True     True      True  ...  True   True           True     False
4      True      True     True      True  ...  True   True          False     False
...     ...       ...      ...       ...  ...   ...    ...            ...       ...
22575  True      True     True      True  ...  True   True           True      True
22576  True      True     True      True  ...  True   True           True      True
22577  True      True     True      True  ...  True   True           True      True
22578  True      True     True      True  ...  True   True           True      True
22579  True      True     True      True  ...  True   True           True     False

[22580 rows x 9 columns]

In [6]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           22580 non-null  object
 1   Distrito       22580 non-null  object
 2   Cuartos        22580 non-null  int64
 3   Vacantes       22580 non-null  int64
 4   Suites         22580 non-null  int64
 5   Area           22580 non-null  int64
 6   Valor          22571 non-null  float64
 7   Mantenimiento  20765 non-null  float64
 8   Impuesto       15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [7]:
datos[datos['Valor'].isnull()]

              Tipo     Distrito  Cuartos  ...  Valor  Mantenimiento  Impuesto
58    Departamento          Ate        2  ...    NaN          970.0      68.0
1492  Departamento  San Bartolo        2  ...    NaN          878.0       NaN
1683          Casa        Lince        3  ...    NaN            NaN       NaN
2012  Departamento   Chorrillos        2  ...    NaN         1010.0     170.0
2034  Departamento    San Borja        2  ...    NaN          850.0       NaN
4941          Casa        Lince        3  ...    NaN            NaN       NaN
8568  Departamento  San Bartolo        2  ...    NaN          878.0       NaN
8947  Departamento     La Punta        3  ...    NaN          910.0     228.0
9149  Departamento     La Perla        3  ...    NaN          880.0     221.0

[9 rows x 9 columns]

In [8]:
A = datos.shape[0]
datos.dropna(subset = ['Valor'], inplace = True)
B = datos.shape[0]
A - B

9

In [9]:
datos[datos['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Distrito, Cuartos, Vacantes, Suites, Area, Valor, Mantenimiento, Impuesto]
Index: []

## Tratamiento de Datos Faltantes (continuación)

In [10]:
datos[datos['Mantenimiento'].isnull()].shape[0]

1813

In [11]:
seleccion = (datos['Tipo'] == 'Departamento') & (datos['Mantenimiento'].isnull())

In [12]:
A = datos.shape[0]
datos = datos[~seleccion]
B = datos.shape[0]
A - B

745

In [13]:
datos[datos['Mantenimiento'].isnull()].shape[0]

1068

In [14]:
datos = datos.fillna({'Mantenimiento': 0, 'Impuesto': 0})

In [15]:
datos[datos['Mantenimiento'].isnull()].shape[0]

0

In [16]:
datos[datos['Impuesto'].isnull()].shape[0]

0

In [17]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21826 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           21826 non-null  object
 1   Distrito       21826 non-null  object
 2   Cuartos        21826 non-null  int64
 3   Vacantes       21826 non-null  int64
 4   Suites         21826 non-null  int64
 5   Area           21826 non-null  int64
 6   Valor          21826 non-null  float64
 7   Mantenimiento  21826 non-null  float64
 8   Impuesto       21826 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [18]:
datos.to_csv('alquiler_residencial.csv', sep = ';', index = False)